* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "norse-bold";
  src: url("fonts/norse-bold-webfont.woff2") format("woff2"), url("fonts/norse-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  height: 100vh;
}

.image-bar {
  width: 30%;
  position: relative;
  z-index: -1;
  text-align: center;
  color: white;
}

.vertical-img {
  display: block;
  /* max-width: 640px;
  max-height: 949px; */
  height: 100%;
  width: auto;
}

.image-sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 60%; 
  background: rgba(32,32,32,0.7);
  padding: 20px 0;
}

.logo {
  max-width: 20%;
  height: auto;
}

.logo-header {
  font-family: "norse-bold", sans-serif;
  font-size: 5em;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70%;
  background: #F8F8F8;
}

.content-p {
  padding-left: 35px;
  padding-right: 60px;
  font-size: 1.3em;
}

form {
  background: white;
  padding: 25px 60px 25px 35px;
}

.form-row {
  display: flex;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-right: 45px;
}

button {
  margin: 0 60px 0 35px;
}